[Desktop Entry]
Name=Widelands
Name[fr]=Widelands
Comment="Settlers II" clone
Comment[fr]= Un clone de "Settlers II"
Exec=widelands
Icon=/usr/share/games/widelands/pics/wl-ico-48.png
Terminal=false
Type=Application
Categories=Game;StrategyGame;